@import "/home/dcascio/.config/stylesheets/kanagawa/swaync.css";

* {
    outline: none;
    border-radius: 0px;
    border: none;
    text-shadow: none;
    box-shadow: none;
    /* font-family: "RobotoMono Nerd Font", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "Overpass Nerd Font Propo", FontAwesome, all-the-icons, sans-serif; */
    font-family: "Work Sans", FontAwesome, all-the-icons, sans-serif;
    /* font-family: "SauceCodePro NF", FontAwesome, all-the-icons, sans-serif; */
    font-size: 20px;
}

.notification-row {
    border: none;
}

.notification-row:focus, .notification-row:hover {
    border-radius: 100%;
}

.notification-row .notification-background {
    border-radius: 0px;
}

.notification-row .notification-background .close-button {
    /* The notification Close Button */
    /* margin-top: 5px; */
    /* margin-right: 5px; */
    /* border: inherit; */
    border-radius: 100%;
    min-width: 24px;
    min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
    /* margin-top: 5px; */
    /* margin-right: 5px; */
    transition: background 0.15s ease-in-out;
    /* border: none; */
    /* border-radius: 100%; */
}

.notification-row .notification-background .notification {
    /* The actual notification */
    transition: background 0.15s ease-in-out;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    border-radius: 10px;
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
    border-left-width: 6px;
    border-left-style: solid;
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
    border-left-width: 6px;
    border-left-style: solid;
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
    border-left-width: 6px;
    border-left-style: solid;
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
    padding: 0;
    border-radius: 0px;
    transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
    /* -gtk-icon-effect: none; */
}

.notification-row .notification-background .notification .notification-default-action {
    /* The large action that also displays the notification summary and body */
    /* border-radius: 100%; */
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
    /* When alternative actions are visible */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
    padding: 0 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
    /* Notification Primary Image */
    -gtk-icon-effect: none;
    /* border-radius: 100px; */
    /* Size in px */
    margin: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    /* -gtk-icon-effect: none; */
    margin: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    /* Notification summary/title */
    /* font-family: "Overpass Nerd Font Propo", FontAwesome, all-the-icons, sans-serif; */

    font-size: 1.2em;
    font-weight: bold;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    /* Notification time-ago */
    font-size: 0.8em;
    /* font-weight: bold; */
    margin-right: 15px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    /* Notification body */
    font-size: 1em;
    font-weight: normal;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
    /* The optional notification progress bar */
    margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
    /* The "extra" optional bottom notification image */
    margin-top: 4px;
    /* border-radius: 0px; */
    -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
    /* The inline reply section */
    margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
    /* border-width: 1px; */
    /* border-style: solid; */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
    margin-left: 4px;
    /* border-width: 1px; */
    /* border-style: solid; */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
    /* background: initial; */
    /* border-width: 1px; */
    /* border-style: solid; */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
}

.notification-row .notification-background .notification .notification-action:first-child {
    /* add bottom border radius to eliminate clipping */
    /* border-bottom-left-radius: 12px; */
}

.notification-row .notification-background .notification .notification-action:last-child {
    /* border-bottom-right-radius: 12px; */
    /* border-right: none; */
}

.notification-group {
    /* Styling only for Grouped Notifications */
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Low Priority Group */
}

.notification-group.critical {
    /* Low Priority Group */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
    margin: 0 16px;
}

/* Notification Group Headers */
.notification-group .notification-group-headers {
}

.notification-group .notification-group-headers .notification-group-icon {
}

.notification-group .notification-group-headers .notification-group-header {
}

/* Notification Group Headers */
.notification-group .notification-group-buttons {
}

.notification-group.collapsed .notification-row .notification {
}

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
    /* the opacity of notification content for stacked notifications */
    opacity: 0.75;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {

}

.control-center {
    /* The Control Center which contains the old notifications widgets */
    border-left-width: 5px;
    border-left-style: solid;
}

.control-center .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 1;
}

.control-center .control-center-list {
    /* List of notifications */
    /* background: inherit; */
}

.control-center .control-center-list .notification {
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
    transition: background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
}

.blank-window {
    /* Window behind control center and on all other monitors */
    /* background: transparent; */
}

.floating-notifications {
    /* background: transparent; */
}

.floating-notifications .notification {
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    font-size: 2em;
    font-style: italic;
}

.widget-title > button {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    /* border-radius: 10px; */
}

.widget-title > button:hover {
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

/* DND widget */
.widget-dnd {
    margin: 8px;
    font-size: 1.5rem;
}

.widget-dnd > switch {
    /* font-size: initial; */
    /* border-width: 1px; */
    /* border-style: solid; */
}

.widget-dnd > switch:checked {
}

.widget-dnd > switch slider {
    border: none;
}

/* Label widget */
.widget-label {
    margin: 0px;
    padding: 0px;
}

.widget-label > label {
    /* font-size: 1.3rem; */
    padding: .1em 0;
    /* border-top-width: 2px; */
    /* border-top-style: solid; */
}

/* Mpris widget */
.widget-mpris {
    /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
}

.widget-mpris .widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    /* font-size: 1.25rem; */
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    /* font-size: 1.1rem; */
}

.widget-mpris .widget-mpris-player > box > button {
    /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
}

.widget-mpris > box > button {
    /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
    /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
    font-size: 0.8em;
    padding: 8px;
    margin: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    color: inherit;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    /* border-radius: 10px; */
}

/* style given to the active toggle button */
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
}

.powerbuttons {
    font-size: 0.7em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.powerbuttons > button {
    background: inherit;
    padding: .5rem 1rem;
}

.powerbuttons > button:hover {
}

.topbar-buttons > button {
    /* Name defined in config after # */
    /* background: orange; */
}

/* Volume widget */
.widget-volume {
    padding: 8px;
    margin: 8px;
    /* border-radius: 10px; */
}

.widget-volume > box > button {
    background: initial;
    border: none;
}

.widget-volume > button {
}

.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
    padding: 8px;
    margin: 8px;
}

/* Inhibitors widget */
.widget-inhibitors {
    margin: 8px;
    font-size: 1.5em;
}

.widget-inhibitors > button {
    /* font-size: initial; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.widget-inhibitors > button:hover {
    /* background: @bg-selected; */
}
