    @light: {
        @soft: {
            @bg_dim: #e5dfc5;
            @bg0: #f3ead3;
            @bg1: #eae4ca;
            @bg2: #e5dfc5;
            @bg3: #ddd8be;
            @bg4: #d8d3ba;
            @bg5: #b9c0ab;
            @bg_red: #f4dbd0;
            @bg_visual: #e1e4bd;
            @bg_yellow: #f1e4c5;
            @bg_green: #e5e6c5;
            @bg_blue: #e1e7dd;
        };
        @medium: {
            @bg_dim: #efebd4;
            @bg0: #fdf6e3;
            @bg1: #f4f0d9;
            @bg2: #efebd4;
            @bg3: #e6e2cc;
            @bg4: #e0dcc7;
            @bg5: #bdc3af;
            @bg_red: #fbe3da;
            @bg_visual: #eaedc8;
            @bg_yellow: #faedcd;
            @bg_green: #f0f1d2;
            @bg_blue: #e9f0e9;
        };
        @hard: {
            @bg_dim: #F2EFDF;
            @bg0: #FFFBEF;
            @bg1: #F8F5E4;
            @bg2: #F2EFDF;
            @bg3: #EDEADA;
            @bg4: #E8E5D5;
            @bg5: #BEC5B2;
            @bg_red: #FFE7DE;
            @bg_visual: #F0F2D4;
            @bg_yellow: #FEF2D5;
            @bg_green: #F3F5D9;
            @bg_blue: #ECF3ED;
        };

        @foregrounds: {
      @light: {
          @red: #F85552;
          @orange: #F57D26;
          @yellow: #DFA000;
          @green: #8DA101;
          @blue: #3A94C5;
          @aqua: #35A77C;
          @purple: #DF69BA;
          @fg: #5C6A72;
          @statusline1: #93B259;
          @statusline2: #708089;
          @statusline3: #E66868;
          @gray0: #A6B0A0;
          @gray1: #939F91;
          @gray2: #829181;
      };
