@import "/home/dcascio/.config/stylesheets/kanagawa/waybar.css";

* {
    /* font-family: "RobotoMono Nerd Font", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "SauceCodePro NFP", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "MonaspiceAr Nerd Font Propo", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "ZedMono Nerd Font Propo", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "RecMono Nerd Font", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "Overpass Nerd Font Propo", FontAwesome, all-the-icons, sans-serif; */
    /* font-family: "Montserrat", FontAwesome, all-the-icons, sans-serif; */
    font-family: "Work Sans", FontAwesome, all-the-icons, github-octicons, sans-serif;
    font-size: 20px;
    min-height: 1em;
    /* padding: 0; */
}

button {
    border-radius: 0%;
    padding: .5em 0;
}

#mode {
}

/* NOTE[dcascio|2024-10-11] margin here is responsible for the gap around the edges */
.modules-center {
    /* padding: 5; */
    /* border-radius: 10px; */
}

.modules-left {
    /* padding: 0; */
    /* border-radius: 10px; */
}
.modules-right {
    /* padding: 0 0.8em; */
    /* border-radius: 10px; */
}

window#waybar:hover {}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar {
    padding: 0 10;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    background: inherit; /* Remove predefined background color (white) */
}
#network-wifi-icon {}

/* #battery.plugged { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #battery.charging { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #battery.discharging.good { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #battery.discharging.warning { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #battery.discharging.critical { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #battery.critical:not(.charging) { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #power-profiles-daemon.balanced { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #power-profiles-daemon.performance { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #power-profiles-daemon.power-saver { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* .hardware {} */

#workspaces {
    background: inherit;
    color: inherit;
}

#workspaces button {
    animation: none;
}

#workspaces button:hover {
    transition: none;
    /* border-bottom-width: 4px; */
    /* border-bottom-style: solid; */
}

#workspaces button.focused {
    padding: 2px 0 0 0; /* offset the bump from border below */
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* window#waybar.empty {} */

#window {
    font-style: italic;
    color: inherit;
}

#idle_inhibitor {
    padding: 0 0 0 .5em;
}

#custom-notification {
    padding: 0 .5em 0 0;
}

/* #scratchpad { */
/*     /\* padding: 0 0.5em; *\/ */
/* } */

/* /\* #scratchpad.empty {} *\/ */

/* #custom-updates { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/*     /\* padding: 0 0 0 20; *\/ */
/* } */

/* #custom-power { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #custom-notification, */
/* #network, */
/* #hardware, */
/* #pulseaudio, */
/* #wireplumber, */
/* #backlight, */
/* #idle_inhibitor, */
/* #tray, */
/* #time { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #custom-notification.dnd-notification, */
/* #custom-notification.dnd-none { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */

/* #wireplumber.muted, */
/* #custom-notification.inhibited-notification, */
/* #custom-notification.inhibited-none { */
/*     border-bottom-width: 4px; */
/*     border-bottom-style: solid; */
/* } */
