@import "/home/dcascio/.config/stylesheets/vesper/style.css";

@define-color cc-bg #101010;
@define-color noti-border-color #202020;
@define-color noti-bg #101010;
@define-color noti-bg-opaque #232323;
@define-color noti-bg-darker #1C1C1C;
@define-color noti-bg-hover #161616;
@define-color noti-bg-hover-opaque alpha(#161616, 0.8);
@define-color noti-bg-focus #161616;
@define-color noti-close-bg alpha(#7E7E7E, 0.4);
@define-color noti-close-bg-hover alpha(#7E7E7E, 0.6);
@define-color text-color shade(#fff, 0.7);
@define-color text-color-disabled shade(#fff, 0.4);
@define-color bg-selected @greenTint;

.notification-row:focus, .notification-row:hover {
    background: @activeBackground;
}

.notification-row .notification-background .close-button {
    color: @text-color;
}

.notification-row .notification-background .close-button:hover {
    background: @activeBackground;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    background: @brightActiveBackground;
    border-color: alpha(@magentaSlight, 0.6);
    box-shadow: inset 0.3em -2px @magentaTint;
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
    border-left-color: @yellowTint;
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
    border-left-color: @greenTint;
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
    background: @redSubtle;
    border-left-color: @redTint;
}

.notification-row .notification-background .notification .notification-action, .notification-row .notification-background .notification .notification-default-action {
    background: @background;
    color: shade(@text-color, 0.7);
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification .notification-default-action:hover {
    -gtk-icon-effect: none;
    background: @activeBackground;
    color: @text-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-shadow: 0 1px 4px black;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    /* Notification summary/title */
    color: @text-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    /* Notification time-ago */
    color: shade(@text-color, .4);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    /* Notification body */
    color: @text-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
    /* The "extra" optional bottom notification image */
    background-color: white;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border-color: @noti-border-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
    background: @noti-bg;
    border-color: @noti-border-color;
    color: @text-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
    color: @text-color-disabled;
    border-color: @noti-border-color;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
    background: @noti-bg-hover;
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    border-top-color: @noti-border-color;
    border-right-color: @noti-border-color;
}

.notification-group {
    /* Styling only for Grouped Notifications */
}

.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Low Priority Group */
}

.notification-group.critical {
    /* Low Priority Group */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
    color: @text-color;
}

.notification-group .notification-group-headers {
    /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
    color: @text-color-disabled;
}

.notification-group .notification-group-headers .notification-group-header {
    color: @text-color;
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */

}

.notification-group.collapsed .notification-row .notification {
    background-color: @background;
}

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {

}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
    /* background-color: @background; */
}

.control-center {
    /* The Control Center which contains the old notifications widgets */
    background: @background ;
    color: @text-color;
    border-left-color: @magentaSubtle;
}

.control-center .control-center-list .notification {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
    background: @activeBackground;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    color: shade(@text-color, 0.7);
}

.widget-title > button {
    color: shade(@text-color, 0.7);
    background: @activeBackground;
    border-bottom-color: @greenSlight;
}

.widget-title > button:hover {
    color: @text-color ;
    border-bottom-color: @greenTint ;
}

/* DND widget */
.widget-dnd {
    color: shade(@text-color, 0.7);
}

.widget-dnd > switch {
    background: @activeBackground;
    border-color: @noti-border-color;
}

.widget-dnd > switch:checked {
    background: @bg-selected;
}

.widget-dnd > switch slider {
    background: @activeBackground;
}

/* Label widget */
.widget-label {
    background: alpha(@text-color, 0.2);
}

.widget-label > label {
    color: @text-color;
    background: @redSlight ;
    border-top-color: @redTint;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
.widget-mpris {
    /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
    background-color: @mpris-album-art-overlay;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background: @activeBackground;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris .widget-mpris-player > box > button {
    /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
}

.widget-mpris > box > button {
    /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
    /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid > flowbox > flowboxchild > button {
    border-bottom-color: shade(@foreground, .3);
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    /* style given to the active toggle button */
    border-bottom-color: @greenFaint;
}

/* Menubar widget */
widget-menubar > box > .menu-button-bar > button {
}

.powerbuttons {
    background: @redSubtle;
    border-bottom-color: @redSlight;
}

.powerbuttons > button {
    color: shade(@text-color, 0.7);
}

.powerbuttons > button:hover {
    text-shadow: 0px 0px 0.5em @foreground, 0px -1px 0.3em @redSubtle;
    color: @text-color;
}

.topbar-buttons > button {
    /* Name defined in config after # */
    border: red;
}

/* Volume widget */
.widget-volume {
    background: @activeBackground;
}

.widget-volume > box > button {
}

.per-app-volume {
    background-color: @noti-bg-alt;
}

/* Backlight widget */
.widget-backlight {
    background: @activeBackground;
}

/* Inhibitors widget */
.widget-inhibitors {
}

.widget-inhibitors > button {
    color: shade(@text-color, 0.7);
    background: @activeBackground;
    border-color: @noti-border-color;
}

.widget-inhibitors > button:hover {
    background: @bg-selected;
}
