@define-color soft_background_dim: #293136;
@define-color soft_background0: #333c43;
@define-color soft_background1: #3a464c;
@define-color soft_background2: #434f55;
@define-color soft_background3: #4d5960;
@define-color soft_background4: #555f66;
@define-color soft_background5: #5d6b66;
@define-color soft_background_red: #5c3f4f;
@define-color soft_background_visual: #59464c;
@define-color soft_background_yellow: #55544a;
@define-color soft_background_green: #48584e;
@define-color soft_background_blue: #3f5865;
@define-color medium_background_dim: #232a2e;
@define-color medium_background0: #2d353b;
@define-color medium_background1: #343f44;
@define-color medium_background2: #3d484d;
@define-color medium_background3: #475258;
@define-color medium_background4: #4f5258;
@define-color medium_background5: #56635f;
@define-color medium_background_red: #543a48;
@define-color medium_background_visual: #514045;
@define-color medium_background_yellow: #4d4c43;
@define-color medium_background_green: #425047;
@define-color medium_background_blue: #3a515d;
@define-color hard_background_dim: #1E2326;
@define-color hard_background0: #272e33;
@define-color hard_background1: #2E383C;
@define-color hard_background2: #374145;
@define-color hard_background3: #414B50;
@define-color hard_background4: #495156;
@define-color hard_background5: #4F5B58;
@define-color hard_background_red: #4C3743;
@define-color hard_background_visual: #493B40;
@define-color hard_background_yellow: #45443C;
@define-color hard_background_green: #3C4841;
@define-color hard_background_blue: #384B55;
@define-color foreground_red: #E67E80;
@define-color foreground_orange: #E69875;
@define-color foreground_yellow: #DBBC7F;
@define-color foreground_green: #A7C080;
@define-color foreground_blue: #7FBBB3;
@define-color foreground_aqua: #83C092;
@define-color foreground_purple: #D699B6;
@define-color foreground_fg: #D3C6AA;
@define-color foreground_statusline1: #A7C080;
@define-color foreground_statusline2: #D3C6AA;
@define-color foreground_statusline3: #E67E80;
@define-color foreground_gray0: #7A8478;
@define-color foreground_gray1: #859289;
@define-color foreground_gray2: #9DA9A0;
