@import "/home/dcascio/.config/stylesheets/kanagawa/style.css";

* {
    outline: none;
    border-radius: 0px;
    border: none;
}

.notification-row {
}

.notification-row:focus, .notification-row:hover {
}

.notification-row .notification-background .close-button {
    background-color: @sumi_ink_3;
    color: @fuji_gray;
}

.notification-row .notification-background .close-button:hover {
    background-color: @sumi_ink_2;
    color: @fuji_gray;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    box-shadow: 0 0 0 1px alpha(@winter_green, 0.7), 0 1px 3px 1px alpha(@dragon_pink, 0.5);
    background-color: @sumi_ink_3;
    border-color: @sumi_ink_4;
}

.notification-row .notification-background .notification.low {
    /* Low Priority Notification */
    background: @winter_yellow;
    border-left-color: @autumn_yellow;
}

.notification-row .notification-background .notification.normal {
    /* Normal Priority Notification */
    background: @winter_green;
    border-left-color: @autumn_green;
}

.notification-row .notification-background .notification.critical {
    /* Critical Priority Notification */
    background: @winter_red;
    border-left-color: @autumn_red;
}

.notification-row .notification-background .notification .notification-action,
.notification-row .notification-background .notification .notification-default-action {
    /* background-color: @sumi_ink_3; */
    /* color: shade(@fuji_white, 0.7); */
}

.notification-row .notification-background .notification .notification-action:hover,
.notification-row .notification-background .notification .notification-default-action:hover {
    -gtk-icon-effect: none;
    background-color: @sumi_ink_5;
    /* color: @fuji_white; */
}

.notification-row .notification-background .notification .notification-default-action {
    /* The large action that also displays the notification summary and body */

}

.notification-row .notification-background .notification .notification-default-action .notification-content {
    /* controls the overall notification, overriding the priority specific settings */
    background-color: @sumi_ink_4;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-shadow: 0 1px 4px @dragon_orange;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    /* Notification summary/title */
    color: shade(@fuji_white, 0.7);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    /* Notification time-ago */
    color: @fuji_gray;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    /* Notification body */
    color: @fuji_white;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
    /* The "extra" optional bottom notification image */
    background-color: @fuji_gray;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
    background-color: @sumi_ink_4;
    color: @fuji_white;
    caret-color: @fuji_white;
    border-color: @sumi_ink_2;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
    background-color: @sumi_ink_4;
    border-color: @sumi_ink_2;
    color: @fuji_white;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
    color: shade(@fuji_white, 0.7);
    border-color: @sumi_ink_2;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
    /* background-color: @sumi_ink_0; */
}

.notification-row .notification-background .notification .notification-action {
    /* The alternative actions below the default action */
    border-top-color: @sumi_ink_2;
    border-right-color: @sumi_ink_2;
}

.notification-group {
    /* Styling only for Grouped Notifications */
}

/* these are the settings for the group as a whole, not the settings for individual notifications inside the group */
.notification-group.low {
    /* Low Priority Group */
}

.notification-group.normal {
    /* Normal Priority Group */
}

.notification-group.critical {
    /* Critical Priority Group */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
    color: @fuji_white;
}

.notification-group .notification-group-headers {
    /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
    color: shade(@fuji_gray, 0.6);
}

.notification-group .notification-group-headers .notification-group-header {
    color: @fuji_gray;
}

.notification-group .notification-group-buttons {
    /* Notification Group Buttons */
    border-radius: 100%;
}

/* controls notifications in a stack but not when expanded */
.notification-group.collapsed .notification-row .notification {
    background-color: @sumi_ink_4;
}

/* TODO[dcascio|2024-10-11] this block is for the collapsed version of the priority. It needs to not show non urgency designated notifications without the background color. */
/* /\* these are the settings for the group as a whole, not the settings for individual notifications inside the group *\/ */
/* .notification-group.low.collapsed .notification-row .notification { */
/*     /\* Low Priority Group *\/ */
/*     background: shade(@winter_yellow, 0.8); */
/*     border-left-color: @autumn_yellow; */
/* } */

/* .notification-group.normal.collapsed .notification-row .notification { */
/*     /\* Normal Priority Group *\/ */
/*     background: shade(@winter_green, 0.8); */
/*     border-left-color: @autumn_green; */
/* } */

/* .notification-group.critical.collapsed .notification-row .notification { */
/*     /\* Critical Priority Group *\/ */
/*     background: shade(@winter_red, 0.8); */
/*     border-left-color: @autumn_red; */
/* } */

.notification-group.collapsed .notification-row:not(:last-child) {
    /* Top notification in stack */
    /* Set lower stacked notifications opacity to 0 */
    opacity: 0;
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
    /* background-color: @sumi_ink_3; */
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
    box-shadow: 0 0 0 1px alpha(@winter_green, 0.7), 0 1px 3px 1px alpha(@dragon_pink, 0.5);
    background-color: @sumi_ink_4;
}

.control-center {
    /* The Control Center which contains the old notifications widgets */
    background-color: @sumi_ink_0 ;
    color: @fuji_white;
    border-left-color: @lotus_violet_2;
}

.control-center .control-center-list {
    /* List of notifications */
}

control-center .control-center-list .notification {
    box-shadow: 0 0 0 1px alpha(@winter_green, 0.7), 0 1px 3px 1px alpha(@dragon_pink, 0.5);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
    background-color: @sumi_ink_4;
}

.blank-window {
    /* Window behind control center and on all other monitors */
    background: alpha(@sumi_ink_2, 0.7);
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    color: shade(@fuji_white, 0.7);
}

.widget-title > button {
    color: shade(@fuji_white, 0.7);
    background-color: @sumi_ink_4;
    border-bottom-color: @dragon_green;
}

.widget-title > button:hover {
    color: @fuji_white ;
    border-bottom-color: @dragon_green ;
}

/* DND widget */
.widget-dnd {
    color: shade(@fuji_white, 0.7);
}

.widget-dnd > switch {
    background-color: @sumi_ink_4;
    border-color: @sumi_ink_2;
}

.widget-dnd > switch:checked {
    background-color: @sumi_ink_5;
}

.widget-dnd > switch slider {
    background-color: @sumi_ink_4;
}

/* Label widget */
.widget-label {
    background-color: alpha(@fuji_white, 0.2);
}

.widget-label > label {
    color: @fuji_white;
    background-color: @dragon_red;
    border-top-color: @wave_red;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
.widget-mpris {
    /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
    background-color: @mpris-album-art-overlay;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); */
}

.widget-mpris .widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background-color: @sumi_ink_4;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); */
}

.widget-mpris .widget-mpris-player > box > button {
    /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
}

.widget-mpris > box > button {
    /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
    /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
    background-color: @sumi_ink_3;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background-color: @sumi_ink_4;
    border-bottom-color: @sumi_ink_6;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    /* style given to the active toggle button */
    border-bottom-color: @autumn_green;
}

/* Menubar widget */
widget-menubar > box > .menu-button-bar > button {
}

.powerbuttons {
    background-color: @winter_red;
    border-bottom-color: @autumn_red;
}

.powerbuttons > button {
    color: shade(@fuji_white, 0.7);
}

.powerbuttons > button:hover {
    text-shadow: 0px 0px 0.5em @fuji_gray, 0px -1px 0.3em @dragon_red;
    color: @fuji_white;
}

.topbar-buttons > button {
    /* Name defined in config after # */
}

/* Volume widget */
.widget-volume {
    background-color: @sumi_ink_4;
}

.widget-volume > box > button {
}

.per-app-volume {
    background-color: @sumi_ink_4;
}

/* Backlight widget */
.widget-backlight {
    background-color: @sumi_ink_4;
}

/* Inhibitors widget */
.widget-inhibitors {
}

.widget-inhibitors > button {
    color: shade(@fuji_white, 0.7);
    background-color: @sumi_ink_4;
    border-color: @sumi_ink_2;
}

.widget-inhibitors > button:hover {
    background-color: @sumi_ink_5;
}
