@import "/home/dcascio/.config/stylesheets/kanagawa/style.css";

window#waybar {
    background-color: shade(@dragon_black_2, 1);
    color: shade(@dragon_gray, 1);
    border-bottom-color: @winter_yellow;

}

window#waybar #window {
    color: shade(@carp_yellow, 0.7);
}

window#waybar #scratchpad {
    text-shadow: 0px 0px 0.5em @old_white;
    color: @old_white;
}

#battery.discharging.critical {
    color: @dragon_red ;
}


#battery.critical:not(.charging) {
    color: @dragon_red;
}

#battery.critical:not(.charging) {
    color: @dragon_red ;
}

#power-profiles-daemon.balanced {
    color: @dragon_yellow;
}

#power-profiles-daemon.performance {
    color: @dragon_red  ;
}

#power-profiles-daemon.power-saver {
    color: shade(@dragon_green, 0.7) ;
}

#workspaces button {
    color: shade(@dragon_white, 0.8);
    border: none;
}

#workspaces button:hover {
    color: @fuji_white;
}

#workspaces button.active {
}

#workspaces button.urgent {
    color: @samurai_red;
}

#workspaces button.focused {
    color: shade(@lotus_green_2, 1);
    border-bottom-color: @lotus_red ;
}

#workspaces button.focused:hover {
    color: @dragon_green;
}

#mode {
    color: @samurai_red;
}

#scratchpad {
    color: @old_white;
}

#custom-updates {
    color: @lotus_green_2;
}

#custom-updates:hover {
    color: @lotus_green;
}

#privacy-item {
    color: @samurai_red;
}

#custom-power {
    color: @dragon_red;
}

#tray menu {
    background: shade(@sumi_ink_3, 0.7);
    color: shade(@fuji_white, 0.7);
}

#time {
    color: shade(@fuji_white, 1);
}

#idle_inhibitor:hover {
    color: @autumn_yellow;
}

#idle_inhibitor.activated {
    color: @peach_red ;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none {
    color: @lotus_red_3;
    text-shadow: 0 0 1px alpha(@dragon_red, 0.8), 0 0 0.5em alpha(@dragon_green, 0.8), 0 0 0.2em alpha(@dragon_yellow, 0.7);
}

#wireplumber.muted,
#custom-notification.inhibited-notification,
#custom-notification.inhibited-none {
    color: @dragon_red ;
}
